/* styles.css */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 600px;
}

header {
  background: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.books {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.book {
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.book h2 {
  margin-bottom: 10px;
}

.book p {
  margin-bottom: 5px;
}

.book button {
  margin-top: 10px;
}

#newBookBtn {
  width: 100%;
  padding: 10px;
  background: #77aaff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

#newBookForm {
  display: none; /* Ensure the form is hidden by default */
  margin-top: 20px;
}

#newBookForm input,
#newBookForm button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button.delete {
  background: #ff4444;
  color: #fff;
  border: none;
  cursor: pointer;
}

button.toggleRead {
  background: #77aaff;
  color: #fff;
  border: none;
  cursor: pointer;
}
